[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
favicon = "*"
tld = "*"
requests = "*"
types-requests = "*"
pillow = "*"

[dev-packages]
flake8 = "*"
black = "*"
mypy = "*"

[requires]
python_version = "3.8"
